.view{
    background-image: url('./img/footer_bg.jpg');
    font-size: 20px;
}

.header {
    /* background-color: rgb(153, 255, 255); */
    margin-top: 40px;
    margin-bottom: 40px;
    display: inline-block;
    width: 100%;
}

.nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

#img_1 {
    width: auto;
    height: auto;
}

#Education{
    margin-top: 20px;
}

.card{
    margin: 10px 0px;
}

.container_1 {
    margin-top: 50px;
    text-align: center;
}

.row {
    margin-top: 30px;
}

.contact img {
    width: 28px;
    margin: 10px;
}

.btn {
    margin-top: 15px;
}

.project {
    text-align: center;
    margin-top: 100px;
}

.accordation {
    text-align: center;
}

.btn_1 {
    text-align: left;
    width: 70%;
    padding: 10px;
    cursor: pointer;
    margin: 3px;
    background-color: #eee;
    color: #444;
    border: none;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: transparent;
    overflow: hidden;
    margin: 0px 200px;
}

/* .prg { 
    background-color: rgb(192, 192, 192); 
    width: 85%; 
    border-radius: 4px; 
} 

.prg-br{
    background-color: blue;
    width: 80%;
    color: aliceblue;
    text-align: center;
    height: 20px;
} */
